<% content_for :add_css_include do %>
	<%= stylesheet_link_tag 'game/game-app', media: 'all', 'data-turbolinks-track' => true %>
<% end %>
<% content_for :add_js_include do %>
	<%= javascript_include_tag 'game/game-app', 'data-turbolinks-track' => true %>
<% end %>

<table id="game-spells" class="table-bordered table-responsive">
</table>


<ul id="game-members" class="list-group">
	<li class='list-group-item game-member'>
		<%= image_tag("picts/pict_member_m.png") %>
		<div>まろさん</div><div>Reach:3</div><div>Bingo:2</div>
	</li>
</ul>

<!--
<div id="game-members">
	<div class="member_tag well well-sm"><%= image_tag("picts/pict_member_m.png") %><div>まろさん</div><div>Reach:3</div><div>Bingo:2</div></div>
	<div class="member_tag well well-sm"><%= image_tag("picts/pict_member_m.png") %><div>まろてすとさん</div><div>Reach:5</div><div>Bingo:1</div></div>
	<div class="member_tag well well-sm"><%= image_tag("picts/pict_member_m.png") %><div>まろてすとてすとさん</div><div>Reach:2</div><div>Bingo:3</div></div>
</div>
-->

<div class="text-center footer-buttons">
	<button type="button" id="back_button">Back</button>　
	<button type="button" id="quit_button">Quit</button>
</div>
