<% content_for :add_css_include do %>
	<%= stylesheet_link_tag 'room-app', media: 'all', 'data-turbolinks-track' => true %>
<% end %>
<% content_for :add_js_include do %>
	<%= javascript_include_tag 'room-app', 'data-turbolinks-track' => true %>
<% end %>

<div class="jumbotron">
  <h1>単語ビンゴ</h1>
</div>

<% if user_signed_in? %>
  <div>
    ようこそ<%= current_user.username %>さん
  </div>

  <div>
    <%= link_to 'プロフィール変更', edit_user_registration_path %>
    <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
  </div>
<% else %>
  <div>
    <%= link_to "サインアップ", new_user_registration_path %><br>
    <%= link_to "ログイン", new_user_session_path %>
  </div>
<% end %>

<div id="rooms">
  <ul id="room-list" class="list-group">
    <!--
    <li class="list-group-item list-group-item-info">room 1</li>
    <li class="list-group-item">room 2</li>
    <li class="list-group-item">room 3</li>
    -->
  </ul>

  <div class="text-center">
    <button type="button" id="create_room_button">Create new room</button>
  </div>
</div>
